<!DOCTYPE html>
<html>
  <head>
    <title>HiringEnigma</title>
    <%= csrf_meta_tags %>

    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="theme-color" content="#000000">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'cache' %>
  </head>

  <body class="<%=controller_name%>_body" oncontextmenu='return false;'>
    <%= yield %>
  </body>
</html>
